<template name="adminLayout">
    {{> endSessionModal}}
    <div class="adminLayout">
        {{> loggedInHeader}}
        {{> adminMenu}}
        {{> yield}}
    </div>
</template>

<template name="adminMenu">
    <nav class="adminMenu">
        <a class="{{#if isActive 'infoAdmin'}}active{{/if}}" href="/frivillig/admin/info">Information</a>
        <a class="{{#if isActive 'userAdmin'}}active{{/if}}" href="/frivillig/admin/users">Administrera användare</a>
        <a class="{{#if isActive 'subjectAdmin'}}active{{/if}}" href="/frivillig/admin/subjects">Administrera ämnen</a>
    </nav>
</template>
