<template name="answerQuestion">
    <div class="container">
        <h3>Svar på spørsmål</h3>
        <div class="row">
            <div class="col-md-8">
                {{> answerQuestionForm}}
            </div>
            <div class="col-md-4">
                {{#if attachmentUrl}}
                    <h3>Vedlegg til spørsmålet</h3>
                    <a href="{{attachmentUrl}}" target="_blank" class="attachment-link">{{attachmentUrl}}</a>
                {{/if}}
                {{#if answerAttachmentUrl}}
                    <h3>Vedlegg til svaret</h3>
                    <a href="{{answerAttachmentUrl}}" target="_blank" class="attachment-link">{{answerAttachmentUrl}}</a>
                {{/if}}

                <h3>Relaterte spørsmål</h3>
                {{> relatedQuestions}}
            </div>
        </div>
    </div>
</template>

<template name="answerQuestionForm">
        <form role="form">
            <p class="question-subtitle">{{subjectName subjectId}} &ndash; {{grade}}</p>
            <div class="form-group">
                <h4>Spørsmål</h4>
                <textarea class="form-control" name="question" value="{{question}}" rows="8"></textarea>
            </div>
            <div class="form-group">
                <h4>Tittel</h4>
                <button type="button" class="btn btn-xs btn-default" id="setTitleButton">Bruk spørsmål som tittel (maks 120 tegn)</button>
                <input type="text" class="form-control" name="title" placeholder="Tittel" value="{{title}}">
            </div>
            <div class="form-group">
                <h4>Svar</h4>
                <div id="answer">
                    {{{answer}}}
                </div>
            </div>
            <div class="form-group">
                <h4>Vedlegg <small>(maks 5 MB)</small></h4>
                <p>Dette vil bli gjort tilgjengelig når man leser spørsmålet.
                    {{#if answerAttachmentUrl}}
                        Obs! Ved å laste opp nytt vedlegg, blir det gamle overskrevet.
                    {{/if}}
                </p>
                <div class="input-group">
                    <input type="file" class="form-control" name="attachment">
                </div>
            </div>
            {{#if percentUploaded}}
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{percentUploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentUploaded}}%;">
                        <span class="sr-only">{{percentUploaded}} % ferdig</span>
                    </div>
                </div>
            {{/if}}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="publishAnswer" checked="{{publishIsChecked this}}"> Publisér svaret når det blir godkjent
                </label>
              </div>
            <button type="submit" class="btn btn-primary btn-lg">Lagre svar</button>
        </form>
</template>
