<template name="answerQuestion">
    <div class="container">
        <h3>Svar på spørsmål</h3>
        <div class="row">
            <div class="col-md-8">
                {{> answerQuestionForm}}
            </div>
            <div class="col-md-4">
                {{#if attachmentUrl}}
                    <h3>Vedlegg</h3>
                    <a href="{{attachmentUrl}}" target="_blank" class="attachment-link">{{attachmentUrl}}</a>
                {{/if}}

                <h3>Relaterte spørsmål</h3>
                {{> relatedQuestions}}
            </div>
        </div>
    </div>
</template>

<template name="answerQuestionForm">
        <form role="form">
            <p class="question-subtitle">{{subjectName subjectId}} &ndash; {{grade}}</p>
            <div class="form-group">
                <h4>Spørsmål</h4>
                <textarea class="form-control" name="question" value="{{question}}" rows="2"></textarea>
            </div>
            <div class="form-group">
                <h4>Tittel</h4>
                <button type="button" class="btn btn-xs btn-default" id="setTitleButton">Bruk spørsmål som tittel (maks 120 tegn)</button>
                <input type="text" class="form-control" name="title" placeholder="Tittel" value="{{title}}">
            </div>
            <div class="form-group">
                <h4>Svar</h4>
                <textarea class="form-control" name="answer" placeholder="Skriv svaret ditt her..." value="{{answer}}" rows="8"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="publishAnswer" checked="{{publishIsChecked this}}"> Publisér svaret når det blir godkjent
                </label>
              </div>
            <button type="submit" class="btn btn-primary btn-lg">Lagre svar</button>
        </form>
</template>
