<template name="myProfile">
    <div class="container">
        <h1>Dine valgte fag</h1>
        {{> mySubjectsTable}}

        <h1>Velg dine fag</h1>
        {{> mySubjectsSelector}}

        <h1>Last opp profilbilde</h1>
        {{> profilePicture}}
    </div>
</template>

<template name="profilePicture">
    <p>
        Her kan du laste opp bilde av deg selv, som vil bli vist under
        dagens frivillige når tjenesten er åpen, og du er innlogget.
    </p>
    <p>
        For at det skal se bra ut, bør bildet være på 200 x 245 piksler i
        høyde x bredde. Bildet blir uansett endret til denne størrelsen ved
        opplasting.
    </p>
    <div class="input-group">
        <div class="input-group-btn">
            <button class="btn btn-primary">Last opp</button>
        </div>
        <input type="file" class="form-control" name="profilePicture">
    </div>

    <div>
        <h6>Ditt profilbilde:</h6>
        <img src="{{ profilePictureUrl }}" />
    </div>
</template>

<template name="mySubjectsTable">
    <table>
        <tr>
            <th>Valgte fag</th>
            <th></th>
        </tr>
        {{#each mySubjects}}
            <tr>
                <td>{{this.subjectName}}</td>
                <td>
                <button
                    type="button"
                    class="btn btn-xs btn-danger removeSubjectFromMyProfile">Slett</button>
                </td>
            </tr>
        {{/each}}
    </table>
</template>

<template name="mySubjectsSelector">
    <div>
        <input type="hidden" id="mySubjects" data-placeholder="Velg dine fag">
    </div>
    <p>
        <button type="button" class="btn btn-s btn-primary" id="saveMySubjects">Lagre</button>
    </p>
</template>
