<template name="studentSessions">
    <div class="container">
        {{#if currentUser }}
            {{> openService}}
            <h2>Elever som venter i kø</h2>

            {{> studentSessionsTable}}
        {{/if}}
    </div>
</template>

<template name="openService">
    {{> serviceStatus}}
    <button
        type="button"
        class="btn btn-s btn-success"
        id="openService"
        disabled={{serviceIsOpen}}>Åpne leksehjelpen</button>
</template>

<template name="studentSessionsTable">
    <h2>Mine fag</h2>
        <table border="1">
            <tr>
                <th>Kø id</th>
                <th>Fag</th>
                <th>Trinn</th>
                <th></th>
                <th>Status</th>
                <th>Aktiv frivillig</th>
                <th></th>
            </tr>
            {{#each myStudentSessions }}
                {{> studentSessionRow }}
            {{/each}}
        </table>

    <h2>Andre fag</h2>
        <table border="1">
            <tr>
                <th>Kø id</th>
                <th>Fag</th>
                <th>Trinn</th>
                <th></th>
                <th>Status</th>
                <th>Aktiv frivillig</th>
                <th></th>
            </tr>
            {{#each otherStudentSessions }}
                {{> studentSessionRow }}
            {{/each}}
        </table>
</template>

<template name="studentSessionRow">
    <tr>
        <td>{{ queueNr }}</td>
        <td>{{ subject }}</td>
        <td>{{ grade }}</td>
        <td>
            <div id="videoUrl">
                <div class="startTutoring"><button>Start leksehjelp</button></div>
            </div>
        </td>
        <td>{{ state }}</td>
        <td>{{ tutor }}</td>
        <td><div class="deleteSession"><button>Slett sesjon</button></div></td>
    </tr>
</template>
