<template name="chatList">
    <ul class="chatList">
        {{#each chats}}
            {{> chatListItem}}
        {{/each}}
    </ul>
</template>

<template name="chatListItem">
    <li class="chatListItem {{#if isActive}}active{{/if}}">
        <a href="/frivillig/chat/{{_id}}">
            <div class="nickname">{{nickname}}</div>
            <div class="metadata">{{subject}}{{#if grade}}, {{grade}}{{/if}}</div>
            {{#if studentPresent}}
                <div class="notifications {{#unless notifications}}none{{/unless}}"><div>{{notifications}}</div></div>
            {{else}}
                <div class="notPresent" title="Det ser ut til at eleven er ikke i chatten">!</div>
            {{/if}}
        </a>
    </li>
</template>
