li {
    cursor: pointer;
}

li:hover {
    background-color: #ededed;
}

tr:nth-of-type(odd) {
  background-color:#ccc;
}

.container {
    padding: 0 15px;
}

.full-width {
    width: 100%;
}

th {
    padding: 4px;
}

td {
    padding: 4px;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

hr {
    border-top: 1px solid #ccc;
}

.question-subtitle {
    font-size: 16px;
    font-weight: bold;
}

.disabled-li,
.disabled-li:visited ,
.disabled-li:active,
.disabled-li:hover {
    color:#aaa !important;
}

.col-md-3 {
    margin-bottom: 20px;
}

.loggedInVolunteers {
    background-color: #f0f0f0;
}

.loggedInVolunteers .row {
    margin: 20px;
}

.loggedInVolunteer {
    background-color: #fff;
    -moz-border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
    height: auto;
    width: 245px;
    margin: 20px 0;
}

.loggedInVolunteer .profile-picture {
    height: 200px;
}

.loggedInVolunteer .img-responsive {
    margin-left: auto;
    margin-right: auto;
}

.volunteerInfo {
    margin: 15px;
    text-align: center;
}

/* Width based on Twitter Bootstrap media queries */
@media (min-width: 992px) {
    #main {
        background: url('../../omsorg_resized_50_quality_cropped.jpg') no-repeat;
    }
}

#main {
    width: 100%;
    position: relative;
    padding: 20px 0;
    background-color: #f0f0f0;
    background-position: -150px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
}

.table-row-header {
    background-color: #eee !important;
}

.table-row-content {
    background-color: white !important;
}

.attachment-link {
    word-wrap: break-word;
}

.hidden {
    display: none;
}

.queue-header {
    margin-top: 0;
    margin-bottom: 0;
}
