<template name="moreInfoModal">
    <div class="modal fade" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content dl-modal-content">
                <div class="modal-header dl-modal-header">
                    <button type="button" class="dl-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Røde Kors - Digital Leksehjelp</h4>
                </div>
                <div class="modal-body">
                    {{> moreInfoModalBody}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="moreInfoModalBody">
    <h4>På Røde Kors leksehjelp får elevene bistand med skolearbeidet etter skoletid.</h4>

    <p>
        Med Digital leksehjelp mener vi at frivillige hjelper hver enkelt elev i en en-til-en-situasjon, via video og chat. Digital leksehjelp tilbys i dag til elever på ungdomstrinnet og videregående skole. Med leksehjelpstilbudet ønsker Røde Kors å bidra til at elevene kan ta den utdannelsen og de yrkesvalgene de ønsker. Røde Kors Leksehjelp er representert med fysiske tilbud til elever i alle fylker.
    </p>
    <p>
        Mange barn og unge i Norge får ikke den hjelpen de trenger med leksene hjemme. Det kan være mange ulike årsaker til dette. Men uten hjelp med leksene kan det bli vanskelig å mestre skolehverdagen. Frafallet fra skolen er en av de største samfunnsutfordringene vi står overfor i Norge i dag. Det er en nær sammenheng mellom svake karakterer i grunnskolen og senere frafall i videregående. Det er også en tydelig sammenheng mellom frafall og svak tilknytning til arbeidsmarkedet. Dette frafallet ønsker Røde Kors leksehjelp å bremse.
    </p>

    <h4>Bli frivillig?</h4>
    <p>
      Har du lyst til å jobbe som frivillig for Digital Leksehjelp? Få mer informasjon og søk <a href="http://www.rodekors.no/distriktsider/oslo/aktiviteter/oppvekst1/digital-leksehjelp/">her</a>.
    </p>
</template>
