<template name="notSupportedModal">
    <div class="modal fade" id="notSupportedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content dl-modal">
                <div class="modal-header dl-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Beklager, nettleseren din er ikke støttet</h4>
                </div>
                <div class="modal-body text-left">
                    {{> notSupportedModalBody}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="notSupportedModalBody">
    <p>
        Nettleseren din er ikke støttet av videotjenesten til Digital Leksehjelp.
        Foreløpig støtter vi bare nettleserne <a href="https://www.google.com/chrome" class="red-cross-link">Chrome</a>,
        <a href="http://www.mozilla.org/nb-NO/firefox/new/" class="red-cross-link">Firefox</a> og <a href="http://www.opera.com/download" class="red-cross-link">Opera</a>.
        Vennligst last ned en av disse, for å benytte tjenesten vår.
        Du må i tillegg ha mikrofon koblet til datamaskinen din, og webkamera om du ønsker det.
    </p>
    <p>
        Prøv gjerne vår <a href="/sporsmal" id="moreInfoToQuestions" class="red-cross-link">spørsmålstjeneste</a>.
    </p>
</template>
