<template name="queueModal">
    <div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content dl-modal">
                <div class="modal-header dl-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Du venter i kø som nr:</h3>
                </div>
                <div class="modal-body" style="text-align: center;">
                    {{> queueModalBody}}
                </div>
                <div class="modal-footer dl-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Avbryt</button>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="queueModalBody">
    {{#with studentSession }}
        <p>
        <div class="row">
            <div class="col-md-12 full-width">
                {{#if stateWaiting }}
                    <img style="position:relative;" src="ticket.png">
                    <span class="ticket-number">{{studentsInFront}}</span>
                {{/if}}
                {{#if stateReady }}
                    <button type="button" class="btn btn-success btn-lg" id="getHelp">
                        Den frivillige er klar - Få leksehjelp nå
                    </button>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-left">
                <p>
                    Når en frivillig er ledig så kan du starte videochatten
                    fra dette vinduet. Chatten åpnes da i et nytt vindu.
                </p>
                <img class="appear-in-gif" src="appear.in.gif">
                <p>
                    Slik slår du av kameraet. Chat og lyd vil fortsatt fungere,
                    også etter at du har deaktivert kameraet.
                </p>
            </div>
        </div>
        </p>
    {{else}}
        <p>
            Sesjonen er avsluttet. Håper du fikk den hjelpen du trengte!
        </p>
    {{/with}}
</template>
