@import '/imports/ui/stylesheets/less/colors.import.less';

.select-component {
    position: relative;
    font-size: 15px;

    > .inputWrapper {
        position: relative;

        > .searchField {
            width: 100%;
            padding: 6px;
            border: 1px solid @input-border-color;
            padding: 10px;
            cursor: pointer;
            color: @input-color;

            &::placeholder {
                color: @placeholder-color;
            }
        }

        > img {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translate(0, -50%);
            width: 14px;
            cursor: pointer;
        }
    }

    > .value {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid @select-color;
        width: 100%;
        text-align: left;
        background-color: transparent;

        > img {
            width: 20.57px;
        }
    }

    > .option-list {
        z-index: 3;
        display: none;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        background-color: white;
        border: 1px solid @select-color;
        border-top: none;
        max-height: 350px;
        overflow-x: auto;

        > .option {
            padding: 10px;

            &:not(:first-child) {
                border-top: 1px solid @select-color;
            }

            &.unavailable {
                color: @input-unavailable-color;
            }

            &.active {
                color: white;
                border-color: @active-color;
                background-color: @active-color;
            }
        }
    }

    &.open {
        > .value {
            > img {
                transform: rotate(180deg);
            }
        }

        > .option-list {
            display: block;
        }
    }
}

@media (min-width: 768px) {
    .select-component {
        font-size: 20px;
    }
}
