@import '/imports/ui/stylesheets/less/colors.import.less';

.formMessage {
    --color: @primary-color;
    --background-color: @info-background;
    color: var(--color);
    background-color: var(--background-color);
    font-size: 15px;
    padding: 8px 10px 10px;
    margin-top: 10px;

    &.info {
        --color: @primary-color;
        --background-color: @info-background;
    }
}
