<template name="soMeLinks">
    <div class="soMeLinks">
        <p>Følg oss</p>
        <a href="https://www.facebook.com/digitalleksehjelp/" target="_blank">
            {{#if white}}
            <img src="/facebook-white.svg" alt="facebook" />
            {{else}}
            <img src="/facebook.svg" alt="facebook" />
            {{/if}}
        </a>
        <a href="https://www.instagram.com/digitalleksehjelp/" target="_blank">
            {{#if white}}
            <img src="/instagram-white.svg" alt="instagram" />
            {{else}}
            <img src="/instagram.svg" alt="instagram" />
            {{/if}}
        </a>
    </div>
</template>
