<template name="loggedInHeader">
    <header class="loggedInHeader">
        <a class="{{#if isActiveTab 'volunteerQueue'}}active{{/if}}" href="/frivillig/queue">Elever i kö{{> notificationsBadge count=numberOfStudentsWaitingInQueue}}</a>
        <a class="{{#if isActiveTab 'volunteerChat'}}active{{/if}}" href="/frivillig/chat">Chatt{{> notificationsBadge count=notificationCount}}</a>
        <a class="{{#if isActiveTab 'myProfile'}}active{{/if}}" href="/frivillig/profil">Min profil</a>
        <a class="{{#if isActiveTab 'admin'}}active{{/if}}" href="/frivillig/admin/info">Admin</a>
        <a class="log-out" href="#">Logga ut</a>
        {{#if serviceIsOpen}}
            <a class="close-service" href="#">Stäng läxhjälpen</a>
        {{else}}
            <a class="open-service" href="#">Öppna läxhjälpen</a>
        {{/if}}
    </header>
</template>
