<template name="studentLayout">
    <div class="studentLayout">
        <div class="content">
            {{> studentHeader}}
            {{> yield}}
        </div>
        {{> studentFooter}}
    </div>
</template>

<template name="studentHeader">
    <div class="studentHeader">
        <a href="/">
            <span class="logo">Läxhjälp Online</span>
            {{> serviceStatusMessage}}
        </a>
        <a href="https://rkuf.se/" target="_blank">
            <img class="rk_logo" src="/rkuf_logo.png">
        </a>
    </div>
</template>

<template name="studentFooter">
    <div class="studentFooter">
        <div class="footerContent">
            Följ oss på <a href="https://www.facebook.com/RodakorsetUF/" target="_blank">Facebook</a>
        </div>
    </div>
</template>
