.home {
    > section {
        margin: 20px;

        @media (min-width: 768px) {
            margin: 50px 60px;
        }

        @media (min-width: 1366px) {
            margin-right: 120px;
            margin-left: 120px;
        }
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        > .or {
            margin: 0 10px;

            @media (min-width: 768px) {
                margin: 0 20px;
            }
        }
    }
}
