<template name="askQuestion">
    <div class="category-title white-bg-adjustment"><div class="empty-category-title"></div></div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <div class="category-title grid-adjustment">
                    <h2>
                        <span>Still et spørsmål</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                {{> questionForm}}
            </div>
        </div>
    </div>
    <br><br><br>

    <div class="category-title white-bg-adjustment"><div class="empty-category-title"></div></div>

    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <div class="category-title grid-adjustment">
                    <h2>
                        <span>Relaterte spørsmål</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                {{> relatedQuestions}}
            </div>
        </div>
    </div>
</template>

<template name="questionForm">
    <form role="form" name="questionForm">
        <div class="row">
            <div class="col-sm-5">
                {{> subjectSelector}}
            </div>
            <div class="col-sm-5">
                {{> gradeSelector}}
            </div>
        </div>

        <h3 class="dl-question-h3">Hva lurer du på?</h3>
        <textarea class="form-control dl-inputfield {{validationError 'questionFieldError'}}" name="question" placeholder="Still spørsmålet ditt her..." rows="8"></textarea>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h3>Last opp vedlegg <small>(maks 5 MB)</small></h3>
                    {{#if attachmentLabel}}
                        <div class="dl-attachment-label">
                            <p>
                                {{attachmentLabel}}
                            </p>
                            <span class="remove-attachment">fjern</span>
                        </div>
                    {{/if}}
                    <div class="input-group {{attachmentSelected}}">
                        <span class="input-group-btn">
                            <span class="dl-file-chooser btn-file">
                                <span class="glyphicon glyphicon-plus dl-plus-sign"></span>
                                Legg til fil&hellip; <input type="file" name="attachment" accept="image/*|.pdf|.doc|.docx">
                            </span>
                        </span>
                    </div>
                </div>
                {{#if percentUploaded}}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{percentUploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentUploaded}}%;">
                            <span class="sr-only">{{percentUploaded}} % ferdig</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <div class="input-group full-width">
                        <input type="text" class="dl-inputfield dl-emailfield form-control {{validationError 'emailError'}}" name="email" placeholder="Din e-postadresse">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <div class="input-group full-width">
                        <button type="submit" class="btn default-button full-width">Send inn spørsmål</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>
