<template name="askQuestion">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Still et spørsmål</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {{> questionForm}}
            </div>

            <div class="col-md-4">
                {{> relatedQuestions}}
            </div>
        </div>
    </div>
</template>

<template name="questionForm">
    <form role="form" name="questionForm">
        <div class="row">
            <div class="form-group col-md-6">
                <label>Fag</label>
                <select class="form-control" name="subject">
                    <option value="default" selected="selected">Velg fag</option>
                    {{#each subjects}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Årstrinn</label>
                <select class="form-control" name="grade">
                    <option value="default" selected="selected">Velg årstrinn</option>
                    {{#each grades}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label>Spørsmål</label>
            <textarea class="form-control" name="question" placeholder="Still spørsmålet ditt her..." rows="6"></textarea>
        </div>
        <div class="form-group">
            <label>Last opp vedlegg <small>(maks 5 MB)</small></label>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-default btn-file">
                        Velg fil&hellip; <input type="file" name="attachment" accept="image/*|.pdf|.doc|.docx">
                    </span>
                </span>
                <span class="form-control input-files-label">
                    {{#if attachmentLabel}}
                        {{attachmentLabel}}
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    {{/if}}
                </span>
            </div>
        </div>
        {{#if percentUploaded}}
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{percentUploaded}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percentUploaded}}%;">
                    <span class="sr-only">{{percentUploaded}} % ferdig</span>
                </div>
            </div>
        {{/if}}
        <div class="form-group">
            <label>E-post</label>
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="text" class="form-control" name="email" placeholder="E-post">
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Send inn spørsmål</button>
    </form>
</template>
