<template name="home">
    <div class="home">
        {{> getHelp}}

        {{> previousQuestions}}

        {{> todaysVolunteers}}

        {{> otherActivities}}
    </div>
</template>

<template name="getHelp">
    <div class="home-header">
        <div id="video-help-container">
            <div class="container">
                <a href="https://www.rodekors.no/">
                    <img id="red-cross-logo" src="/NRX_pos_FARGET bakgrunn.png">
                </a>

                <h1 class="title"><a href="/">Digitalleksehjelp.no</a></h1>

                <div class="row">
                    <div class="col-md-4">
                        <p class="info-text">
                            Røde Kors leksehjelp skal være en møteplass der frivillige leksehjelpere legger til rette for mestring, motivasjon, og et godt læringsmiljø. På leksehjelpen møter elevene voksne med fagkunnskap og erfaring.
                        </p>
                        <a id="more-info" href="#" class="red-cross-link">Les mer om tjenesten</a>
                    </div>

                    <div class="col-md-4 col-md-offset-4">
                        {{> getHelpBox}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="getHelpBox">
    {{#if serviceStatusLoaded}}
        {{#if serviceIsOpen}}
            <h3 class="get-help-box-title"><b>Få leksehjelp</b></h3>

            <div class="btn-group full-width get-help-box-item">
                <button type="button" class="btn btn-default dl-dropdown full-width {{validationError 'subjectError'}}" data-toggle="dropdown">

                    <span id="chosen-subject">Velg fag</span>
                    <span class="glyphicon glyphicon-chevron-down dropdown-caret"></span>
                </button>
                <ul class="dl-dropdown-ul dropdown-menu full-width" role="menu">
                    {{#each subjects}}
                        <li class="dl-dropdown-item subjects {{subjectDisabled _id}}" role="presentation">{{name}}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="btn-group full-width get-help-box-item">
               <button type="button" class="btn btn-default dl-dropdown full-width {{validationError 'gradeError'}}" data-toggle="dropdown">
                  <span id="chosen-grade">Velg trinn</span>
                  <span class="glyphicon glyphicon-chevron-down dropdown-caret"></span>
               </button>
               <ul class="dl-dropdown-ul dropdown-menu full-width" role="menu">
                    {{#each grades}}
                        <li class="dl-dropdown-item grades" role="presentation">{{this}}</li>
                    {{/each}}
               </ul>
            </div>

            <button id="start-video-session" class="default-button full-width get-help-box-item">Start videochat</button>

            <p class="schedule center get-help-box-item">
                {{{openingHours}}}
            </p>

            <p class="schedule center get-help-box-item extra-margin">Du kan også <a href="/sporsmal" class="red-cross-link">sende inn spørsmål</a> så <br>svarer vi deg innen 2-3 dager.</p>
        {{else}}
            <h3 class="get-help-box-title"><b>Vår videochat er ikke åpen for øyeblikket</b></h3>
            <p class="get-help-box-item">Du kan <a href="/sporsmal" class="red-cross-link">sende inn spørsmål</a> som vi <br>besvarer innen 2-3 dager.</p>
            <br>
            <h3><b>Åpningstider for videochat</b></h3>
            <p class="schedule get-help-box-item">
                {{{openingHours}}}
            </p>
        {{/if}}
    {{else}}
        <div class="videohelp-spinner">
            {{> spinner}}
        </div>
    {{/if}}
</template>

<template name="previousQuestions">
    <div class="category-title white-bg-adjustment">
        <h2><span>Siste spørsmål</span></h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
            {{#if serviceIsOpen}}
                {{#each previousQuestions 0 2}}
                    <div class="question-item">
                        <p><a href="/sporsmal/{{_id}}">{{trim question 120}}</a></p>
                        <p class="question-item-footer">{{subjectName subjectId}}, {{grade}} &ndash; {{fromNow questionDate}}</p>
                    </div>
                {{/each}}
            {{else}}
                <p class="schedule">
                    Du kan også sende inn spørsmål til oss her på nettsidene. Vi svarer deg i løpet av 2-3 dager.
                </p>
                <button id="ask-question" class="default-button full-width">Send inn spørsmål</button>
            {{/if}}
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                {{#each previousQuestions 2 2}}
                    <div class="question-item">
                        <p><a href="/sporsmal/{{_id}}">{{trim question 120}}</a></p>
                        <p class="question-item-footer">{{subjectName subjectId}}, {{grade}} &ndash; {{fromNow questionDate}}</p>
                    </div>
                {{/each}}
            </div>
            <div class="col-md-4 col-sm-6">
                {{#each previousQuestions 4 2}}
                    <div class="question-item">
                        <p><a href="/sporsmal/{{_id}}">{{trim question 120}}</a></p>
                        <p class="question-item-footer">{{subjectName subjectId}}, {{grade}} &ndash; {{fromNow questionDate}}</p>
                    </div>
                {{/each}}
                <a href="/sok?grade=_all&amp;subject=_all&amp;sort=date&amp;offset=0&amp;limit=10" class="red-cross-link">Les alle innsendte spørsmål{{numberOfQuestions}}</a>
            </div>
        </div>
    </div>
</template>

<template name="todaysVolunteers">
    {{#if serviceIsOpen}}
        {{#if isGreaterThanZero todaysVolunteers.length}}
            <div class="todays-volunteers">
                <div class="category-title">
                    <h2>
                        <span class="todays-volunteers-bg-color">Dagens frivillige</span>
                    </h2>
                </div>
                <div class="container">
                    <div class="row row-centered">
                        {{#each todaysVolunteers}}
                            <div class="col-md-4 col-centered">
                                <div class="todays-volunteer-item">
                                    <div class="round">
                                        <img src="{{profile.pictureUrl}}">
                                    </div>
                                    <h4 class="todays-volunteer-item-name">{{profile.firstName}}</h4>
                                    <p class="todays-volunteer-item-subjects">{{subjectList profile.subjects}}</p>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="otherActivities">
    <div class="category-title white-bg-adjustment">
        <h2>
            <span>Andre aktiviteter Røde Kors tilbyr</span>
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="http://www.rodekors.no/distriktsider/oslo/aktiviteter/oppvekst1/ressurssentrene-for-ungdom/orkis-rode-kors-ressurssenter/" class="textLink">
                    <img class="img-responsive" src="/110601_Leksehjelp_mortensrud_Width_466_therese_borge.jpeg">
                </a>
                <h2 class="small-title"><b>Leksehjelp i Oslo</b></h2>
                <p>
                    Røde Kors leksehjelp skal være en møteplass der frivillige leksehjelpere legger til rette for mestring, motivasjon, og et godt læringsmiljø. På leksehjelpen møter elevene voksne med fagkunnskap og erfaring.
                </p>
                <a href="http://www.rodekors.no/distriktsider/oslo/aktiviteter/oppvekst1/ressurssentrene-for-ungdom/orkis-rode-kors-ressurssenter/" class="red-cross-link textLink">Mer om leksehjelp i Oslo</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.rodekors.no/tvangsekteskap" class="textLink">
                    <img class="img-responsive" src="/110525_tvangsekteskap_illustrasjonsbilde_Width_466.jpeg">
                </a>
                <h2 class="small-title"><b>Røde Kors - telefonen om tvangsekteskap og kjønnslemlestelse</b></h2>
                <p>
                    Her kan du få informasjon og veiledning om hvordan du kan forholde deg til situasjoner der tvangsekteskap, kjønnslemlestelse og æresrelatert vold forekommer.
                </p>
                <a href="http://www.rodekors.no/tvangsekteskap" class="red-cross-link textLink">Mer om tvangsekteskap og kjønnsemlestelse</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.korspahalsen.no/">
                    <img class="img-responsive" src="/large_tema_religion_2_350x229_MG_4753.jpg">
                </a>
                <h2 class="small-title"><b>Kors på halsen</b></h2>
                <p>
                    Hos Kors på halsen kan du som er under 18 år snakke om hva som helst - trygt, gratis og anonymt!
                </p>
                <a href="http://www.korspahalsen.no/" class="red-cross-link textLink">Mer om Kors på halsen</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://www.rodekors.no/ungdom/" class="textLink">
                    <img class="img-responsive" src="/mina_og_charlott_jeg_er_ensom_bryr_meg636x420_Width_636_oyvind_stedal.jpeg">
                </a>
                <h2 class="small-title"><b>Røde Kors ungdom</b></h2>
                <p>
                    Røde Kors ungdom er et frivillig tilbud for deg som er engasjert og gjerne vil hjelpe til, være en støtte, eller spre kunnskap og informasjon om Røde Kors til unge som i dag ikke vet det eksisterer et hjelpeapparat for de som opplever en vanskelig tid.
                </p>
                <a href="http://www.rodekors.no/ungdom/" class="red-cross-link textLink">Mer om Røde Kors ungdom</a>
            </div>
        </div>
    </div>
</template>
