<template name="search">
    <div class="category-title white-bg-adjustment"><div class="empty-category-title"></div></div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="category-title grid-adjustment">
                    <h2>
                        <span>Søk</span>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="row">
                    {{> flashMessages}}

                    <div class="col-md-5">
                        <a href="/sporsmal">
                            <button class="default-button full-width">Still et nytt spørsmål</button>
                        </a>
                    </div>
                </div>

                <hr>
                    {{> searchForm}}
                <hr>

                <label>{{numberOfResults}}</label>

                <div class="list-group">
                    {{#each searchResults}}
                        {{> searchQuestionItem}}
                    {{/each}}
                </div>

                {{> pagination}}
            </div>
        </div>
    </div>
</template>

<template name="pagination">
    <div class="text-center">
        <nav>
            <ul class="pagination">
                {{#each pages}}
                    <li class="{{active}}"><a href="{{url}}">{{index}}</a></li>
                {{/each}}
            </ul>
        </nav>
    </div>
</template>

<template name="searchForm">
    <form role="form">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <label>Søk</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    <input name="q" type="text" class="form-control" value="{{queryParams.q}}">
                </div>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-4">
                <label>Fag</label>
                <select class="form-control" name="subject">
                    <option value="_all" selected="{{eq queryParams.subject '_all'}}">Alle</option>
                    {{#each subjects}}
                        <option value="{{humanReadableId}}" selected="{{eq humanReadableId ../queryParams.subject}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-4">
                <label>Årstrinn</label>
                <select class="form-control" name="grade">
                    <option value="_all" selected="{{eq queryParams.grade '_all'}}">Alle</option>
                    {{#each grades}}
                        <option value="{{this}}" selected="{{eq this ../queryParams.grade}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-4">
                <label>Sortér</label>
                <select class="form-control" name="sort">
                    <option value="relevance" selected="{{eq queryParams.sort 'relevance'}}">Relevans</option>
                    <option value="date" selected="{{eq queryParams.sort 'date'}}">Dato</option>
                </select>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12">
                <label>&nbsp;</label>
                <input type="submit" class="default-button auto-height full-width" role="button" value="Søk">
            </div>
        </div>

        <input name="offset" value="0" class="hidden">
        <input name="limit" value="{{limit}}" class="hidden">
    </form>
</template>

<template name="questionItem">
    <a href="/sporsmal/{{_id}}" class="list-group-item search-list-group-item">
        <p>{{{trim question 200}}}</p>
        <p><small>{{subjectName subjectId}}, {{grade}} &ndash; {{fromNow questionDate}}</small></p>
    </a>
</template>

<template name="searchQuestionItem">
    <div class="question-item related-question-item">
        <p><a href="/sporsmal/{{_id}}">{{trim question 200}}</a></p>
        <p class="question-item-footer">{{subjectName subjectId}}, {{grade}} &ndash; {{fromNow questionDate}}</p>
    </div>
</template>
