<template name="search">
    <div class="container">
        <h1>Søk etter spørsmål og svar</h1>
        <a href="/sporsmal" class="btn btn-lg btn-primary" role="button">Still et nytt spørsmål</a>

        <hr>
            {{> searchForm}}
        <hr>

        <label>{{numberOfResults}}</label>

        <div class="list-group">
            {{#each searchResults}}
                {{> questionItem}}
            {{/each}}
        </div>
    </div>
</template>

<template name="searchForm">
    <form role="form">
        <div class="row">
            <div class="form-group col-md-4 col-sm-12">
                <label>Søk</label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                    <input name="q" type="text" class="form-control" value="{{queryParams.q}}">
                </div>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-4">
                <label>Fag</label>
                <select class="form-control" name="subject">
                    <option value="_all" selected="{{eq queryParams.subject '_all'}}">Alle</option>
                    {{#each subjects}}
                        <option value="{{this.humanReadableId}}" selected="{{eq this.humanReadableId ../queryParams.subject}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-4">
                <label>Årstrinn</label>
                <select class="form-control" name="grade">
                    <option value="_all" selected="{{eq queryParams.grade '_all'}}">Alle</option>
                    {{#each grades}}
                        <option value="{{this}}" selected="{{eq this ../queryParams.grade}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-4">
                <label>Sortér</label>
                <select class="form-control" name="sort">
                    <option value="relevance" selected="{{eq queryParams.sort 'relevance'}}">Relevans</option>
                    <option value="date" selected="{{eq queryParams.sort 'date'}}">Dato</option>
                </select>
            </div>
            <div class="form-group col-md-2 col-sm-3 col-xs-12">
                <label>&nbsp;</label>
                <input type="submit" class="btn btn-primary full-width" role="button" value="Søk">
            </div>
        </div>
    </form>
</template>

<template name="questionItem">
    <a href="/sporsmal/{{this._id}}" class="list-group-item search-list-group-item">
        <p>{{{transformNewline this.question}}}</p>
        <p><small>{{fromNow this.questionDate}}</small></p>
    </a>
</template>
