<template name="getHelp">
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    <div id="getHelpPanel" class="panel panel-default" style="width: 100%;">
                        <div class="panel-heading" style="text-align:center;">
                            <h1>Få leksehjelp</h1>
                        </div>
                        <div class="panel-body" style="text-align:center; padding: 3% 7%;">
                                <p style="padding: 3%;">
                                    Velg fra nedtrekksmenyen:
                                </p>
                                <form role="form">
                                  <div class="form-group fullwidth">
                                    {{> subjectSelector }}
                                  </div>
                                  <div class="form-group">
                                    {{> gradeSelector }}
                                  </div>

                                    <div class="form-group">
                                        <button type="button" class="btn btn-success fullwidth" id="createSession">
                                            <div style="font-size:20px;">
                                                Få leksehjelp nå
                                            </div>
                                        </button>
                                    </div>
                                    {{#isolate}}
                                        {{#if validationError }}
                                            <div class="alert alert-danger">{{ validationError }}</div>
                                        {{/if}}
                                    {{/isolate}}
                                </form>
                        </div>
                        <div class="panel-footer" style="text-align:center; padding: 5% 10%;">
                            Åpningstider: Mandag til torsdag: kl. 17:00 - 21:00
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<template name="subjectSelector">
    <div class="btn-group" style="width:100%;">
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" style="width:100%;">
            <div id="chosenSubject" style="float:center;">Velg ønsket fag</div><span class="caret" style="float:right; margin-top:-15px;"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="width:100%;">
            {{#each subjects }}
                <li class="subjects" role="presentation">{{this}}</li>
            {{/each}}
        </ul>
        </div>
</template>

<template name="gradeSelector">
    <div class="btn-group" style="width:100%;">
        <button type="button" class="btn btn-lg dropdown-toggle" data-toggle="dropdown" style="width:100%;">
            <div id="chosenGrade" style="float:center;">Velg ditt trinn</div><span class="caret" style="float:right; margin-top:-15px;"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="width:100%;">
            {{#each grades }}
                <li class="grades" role="presentation">{{this}}</li>
            {{/each}}
        </ul>
        </div>
</template>
