<template name="myProfile">
    <h1>Dine valgte fag</h1>
    {{> mySubjectsTable}}

    <h1>Velg dine fag</h1>
    {{> mySubjectsSelector}}

</template>

<template name="mySubjectsTable">
    <table>
        <tr>
            <th>Valgte fag</th>
        </tr>
        {{#each mySubjects}}
            <tr>
                <td>{{this.subjectName}}</td>
            </tr>
        {{/each}}
    </table>
</template>

<template name="mySubjectsSelector">
    <div>
        <input type="hidden" id="mySubjects" data-placeholder="Velg dine fag">
        </input>
    </div>
    <p>
        <button type="button" class="btn btn-s btn-primary" id="saveMySubjects">Lagre</button>
    </p>
</template>
