<template name="myProfile">
    <div class="loggedInContainer">
        <h1>Dine valgte fag</h1>
        {{> mySubjectsTable}}

        <h1>Velg dine fag</h1>
        {{> mySubjectsSelector}}

        <h1>Last opp profilbilde</h1>
        {{> profilePicture}}
    </div>
</template>

<template name="profilePicture">
    {{#S3 callback="uploadToS3" height=200 width=245}}
        <input type="file" />
        <h4>Status: </h4>
        {{#if uploading}}
            Laster opp bilde ...
        {{else}}
            Velg bilde
        {{/if}}
    {{/S3}}

    <div>
        <h6>Ditt profilbilde:</h6>
        <img src="{{ profilePictureUrl }}" />
    </div>
</template>

<template name="mySubjectsTable">
    <table>
        <tr>
            <th>Valgte fag</th>
            <th></th>
        </tr>
        {{#each mySubjects}}
            <tr>
                <td>{{this.subjectName}}</td>
                <td>
                <button
                    type="button"
                    class="btn btn-xs btn-danger removeSubjectFromMyProfile">Slett</button>
                </td>
            </tr>
        {{/each}}
    </table>
</template>

<template name="mySubjectsSelector">
    <div>
        <input type="hidden" id="mySubjects" data-placeholder="Velg dine fag">
        </input>
    </div>
    <p>
        <button type="button" class="btn btn-s btn-primary" id="saveMySubjects">Lagre</button>
    </p>
</template>
