<template name="userAdmin">
    <h3>Administrér brukere</h3>
    {{> addUser}}
    {{> usersTable}}
</template>

<template name="addUser">
    Ny bruker:
    <form role="form">
        <div class="form-group">
            <input id="firstName" placeholder="Fornavn" type="text" size="20" />
        </div>
        <div class="form-group">
            <input id="email" placeholder="E-post" type="text" size="20" />
        </div>
        Rolle:
        <div class="form-group">
            {{> roleSelector}}
        </div>
        <button class="addUser">Legg til bruker</button>
    </form>
    <p>{{ userAdded }}</p>
</template>

<template name="roleSelector">
    <select id="role">
        {{#eachProperty roles }}
            <option>{{value}}</option>
        {{/eachProperty}}
    </select>
</template>

<template name="usersTable">
    <h3>Alle brukere</h3>
    <table border="0">
        <tr>
            <th>Brukernavn</th>
            <th>E-post</th>
            <th>Verifisert?</th>
            <th>Fornavn</th>
            <th>Valgte fag</th>
            <th>Rolle</th>
        </tr>
        {{#each users }}
            {{> userRow }}
        {{/each}}
    </table>
</template>

<template name="userRow">
    <tr>
        <td>{{ username }}</td>
        {{#each emails}}
            <td>{{this.address}}</td>
            <td>
                {{#if this.verified}}
                    Ja
                {{else}}
                    Nei
                {{/if}}
            </td>
        {{/each}}
        <td>{{ profile.firstName }}</td>
        <td>
            {{#each profile.subjects}}
                {{this}}
            {{/each}}
        </td>
        <td>
            {{#isolate}}
                <select class="newRole">
                    {{{optionsSelected globalRoles profile.role }}}
                </select>
            {{/isolate}}
        </td>
        <td><button type="button" class="btn btn-xs btn-danger deleteUser">Slett</button></td>
        {{#if remoteUserLoggedIn}}
            <td><button type="button" class="btn btn-xs btn-danger logoutUser">Logg ut</button></td>
        {{/if}}
    </tr>
</template>
