<template name="userAdmin">
    <h3>Administrér brukere</h3>
    {{> addUser}}
</template>

<template name="addUser">
    Ny bruker:
    <form role="form">
        <div class="form-group">
            <input id="firstName" placeholder="Fornavn" type="text" size="20" />
        </div>
        <div class="form-group">
            <input id="email" placeholder="E-post" type="text" size="20" />
        </div>
        Rolle:
        <div class="form-group">
            {{> roleSelector}}
        </div>
        <button class="addUser">Legg til bruker</button>
    </form>
    <p>{{ userAdded }}</p>
</template>

<template name="roleSelector">
    <select id="role">
        {{#eachProperty roles }}
            <option>{{value}}</option>
        {{/eachProperty}}
    </select>
</template>
