@import '/imports/ui/stylesheets/less/colors.import.less';

.studentHeader {
    margin: 20px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 768px) {
        margin-right: 60px;
        margin-left: 60px;
    }

    @media (min-width: 1366px) {
        margin-right: 90px;
        margin-left: 90px;
    }

    .logo {
        font-weight: bold;
        white-space: nowrap;
    }

    .status {
        color: @primary-color;
        white-space: nowrap;
    }

    .rk_logo {
        height: 27px;

        @media (min-width: 768px) {
            height: 38px;
        }
    }
}
