<template name="inQueue">
    <div class="inQueue">
        {{#if readyToStart}}
            <div class="ready">
                Läxhjälpen är nu klar
                {{> button type='link' text=theText href=videoLink target=target}}
            </div>
        {{else}}
            <div class="left">
                {{> inQueueHeader}}
                <img class="illustration" src="/queue_illustration.svg">
                <div class="timeInQueue"><div>{{timeInQueue}}</div></div>
            </div>
            <div class="right">
                {{> inQueueHeader}}
                <div class="description">Du står nu i kö i <span class="subject">{{subject}}</span></div>
                <form class="extra-info-form">
                    <p>Medan du väntar kan du börja skriva en förklaring på vad du behöver hjälp med.</p>
                    <div class="dropdowns">
                        {{> topicsInput value=topics addTopic=addTopic removeTopic=removeTopic subject=subject}}
                        {{> select placeholder='Välj årskurs' value=grade options=grades onChange=setGrade}}
                    </div>
                    <textarea name="question" placeholder="Skriv här..." rows="4" autofocus>{{text}}</textarea>
                    <div class="buttons">
                        {{> button type='button' text='Avsluta kö' subtle=true danger=true onClick=leaveQueue}}
                        {{> button type='submit' text='Spara' disabled=updateButtonDisabled}}
                    </div>
                    {{#if infoMessage}}
                        {{> formMessage text=infoMessage}}
                    {{/if}}
                </form>
            </div>
        {{/if}}
    </div>
</template>

<template name="inQueueHeader">
    <div class="header">
        <a href="/" class="logo">Läxhjälp Online</a>
        <a href="https://rkuf.se/" target="_blank">
            <img class="rk_logo" src="/rkuf_logo.png">
        </a>
    </div>
</template>
