@import '/imports/ui/stylesheets/less/colors.import.less';

.button-component {
    --primary-color: white;
    --secondary-color: @action-color;

    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 14px 0 11px;
    width: 110px;
    font-size: 15px;

    &:disabled {
        --secondary-color: @disabled-color;
    }

    &.danger {
        --primary-color: @danger-color;
        --secondary-color: white;
        border: 1px solid @danger-color;
    }

    &.subtle:not(.danger) {
        color: var(--secondary-color);
        background-color: var(--primary-color);
    }

    &.subtle {
        border: none;
        text-decoration: underline;
        padding: 0;
        width: unset;
    }
}

@media (min-width: 400px) {
    .button-component {
        width: 130px;
    }
}

@media (min-width: 768px) {
    .button-component {
        font-size: 20px;
    }
}
