<template name="subjectSelector">
    <div class="btn-group full-width get-help-box-item">
        <button type="button" class="btn dl-dropdown full-width {{validationError 'subjectError'}}" data-toggle="dropdown">

            <span id="chosen-subject" data-id="default">Velg fag</span>
            <span class="glyphicon glyphicon-chevron-down dropdown-caret"></span>
        </button>
        <ul class="dl-dropdown-ul dropdown-menu full-width" role="menu">
          {{#each subjects}}
              <li class="dl-dropdown-item subjects" role="presentation">{{name}}</li>
          {{/each}}
        </ul>
    </div>
</template>
