<template name="loggedInHeader">
    <div class="container">
        {{> flashMessages}}

        {{#if currentUser }}
            {{#if isAdmin }}
                <h3>Digital Leksehjelp - Administrator</h3>
            {{else}}
                <h3>Digital Leksehjelp - Frivillig</h3>
            {{/if}}
            <p>
                {{> loginButtons}}
            </p>

            <ul class="nav nav-tabs">
                <li role="presentation" class="{{isActiveTab 'myProfile'}}"><a href="/frivillig/profil">Min profil</a></li>
                {{#if isVideohelper}}
                    <li role="presentation" class="{{isActiveTab 'volunteer'}}"><a href="/frivillig/videohjelp">Videohjelp {{numberOfStudentsWaitingInQueue}}</a></li>
                {{/if}}
                <li role="presentation" class="{{isActiveTab 'questions'}}"><a href="/frivillig/sporsmal">Spørsmål</a></li>

                {{#if isAdmin }}
                    <li role="presentation" class="{{isActiveTab 'userAdmin'}}"><a href="/frivillig/admin/brukere">Administrer brukere</a></li>
                    <li role="presentation" class="{{isActiveTab 'subjectAdmin'}}"><a href="/frivillig/admin/fag">Administrer fag</a></li>
                    <li role="presentation" class="{{isActiveTab 'questionAdmin'}}"><a href="/frivillig/admin/sporsmal">Administrer spørsmål</a></li>
                {{/if}}
                <li role="presentation" class="{{isActiveTab 'queue'}}"><a href="/frivillig/queue">Videohjelp - ny {{numberOfStudentsWaitingInQueue}}</a></li>
            </ul>
        {{/if}}
    </div>
</template>
