<template name="loggedInHeader">
    <header class="loggedInHeader">
        <a class="logo" href="/frivillig/queue">Digital leksehjelp</a>
        <a class="{{#if isActiveTab 'queue'}}active{{/if}}" href="/frivillig/queue">Elever i kø{{> notificationsBadge count=numberOfStudentsWaitingInQueue}}</a>
        <a class="{{#if isActiveTab 'volunteerChat'}}active{{/if}}" href="/frivillig/chat">Chat{{> notificationsBadge count=notificationCount}}</a>
        <a class="{{#if isActiveTab 'questions'}}active{{/if}}" href="/frivillig/sporsmal">Spørsmål</a>
        <a class="{{#if isActiveTab 'myProfile'}}active{{/if}}" href="/frivillig/profil">Min profil</a>
        <a class="{{#if isActiveTab 'admin'}}active{{/if}}" href="/frivillig/admin/info">Admin</a>
        <a class="log-out" href="#">Logg ut</a>
        {{#if serviceIsOpen}}
            <a class="close-service" href="#">Steng leksehjelpen</a>
        {{else}}
            <a class="open-service" href="#">Åpne leksehjelpen</a>
        {{/if}}
    </header>
</template>
