<template name="queueModal">
    <div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content dl-modal-content">

                {{> queueModalBody}}
                <div class="modal-footer dl-modal-footer leave-queue">
                    <a id="leave-queue" class="red-cross-link" data-dismiss="modal">Forlat kø</a>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="queueModalBody">
    {{#with studentSession }}
        <div class="modal-header dl-modal-header">
            {{#if stateWaiting }}
                <h2 class="modal-title">Du venter i kø</h2>
            {{/if}}
            {{#if stateReady }}
                <h2 class="modal-title">Vi er klare</h2>
            {{/if}}
        </div>
        <div class="modal-body dl-modal-body">
            <div class="row">
                <div class="col-md-12 full-width">
                    {{#if stateWaiting }}
                        <p class="text-left">
                            Når en frivillig er ledig kan du starte videochatten fra dette vinduet.
                            Den åpnes da i et nytt vindu.
                        </p>
                        <h4 class="dl-modal-number-line">Tid i kø: {{timeInQueue}}</h4>
                    {{/if}}
                    {{#if stateReady }}
                        <div class="text-center">
                            <button type="button" class="btn btn-success btn-lg dl-button-accept-help " id="getHelp">
                                Klikk for å starte videochatten
                            </button>
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="dl-modal-body-wrapper">
            <div class="modal-body dl-modal-body">

                <div class="row">
                    <div class="col-md-12 text-left ">
                        <div class="gif-container">
                            <img src="appear.in.gif">
                        </div>
                        <p>
                            Slik slår du av kameraet. Chat og lyd vil fortsatt fungere,
                            også etter at du har deaktivert kameraet.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body dl-modal-body">
            <div class="row">
                <div class="col-md-12 full-width">
                    {{#if stateWaiting }}
                        <p>
                            Skriv gjerne litt om hva du lurer på, så blir det lettere for den frivillige å hjelpe deg.
                        </p>
                        <textarea class="form-control dl-inputfield" name="question" placeholder="Skriv her..." rows="4"></textarea>
                    {{/if}}
                </div>
            </div>
        </div>
    {{else}}
        <div class="modal-body">
            <h4>
                Sesjonen er avsluttet. Håper du fikk den hjelpen du trengte!
            </h4>
        </div>
    {{/with}}
</template>
