<template name="inQueue">
    <div class="inQueue">
        <div class="left">
            {{> inQueueHeader}}
            <img class="illustration" src="/queue_illustration.svg">
            <div class="timeInQueue"><div>{{timeInQueue}}</div></div>
        </div>
        <div class="right">
            {{> inQueueHeader}}
            <div class="description">Du står nå i kø for <span class="subject">{{subject}}</span></div>
            <form class="extra-info-form">
                <p>Mens du venter du venter kan du begynne å forklare hva det er du lurer på.</p>
                {{> topicsInput value=topics addTopic=addTopic removeTopic=removeTopic subject=subject}}
                <textarea class="form-control dl-inputfield" name="question" placeholder="Skriv her..." rows="4" autofocus>{{text}}</textarea>
                <div class="buttons">
                    {{> button type='button' text='Forlat køen' subtle=true danger=true onClick=leaveQueue}}
                    {{> button type='submit' text='Oppdater' disabled=updateButtonDisabled}}
                </div>
                {{#if infoMessage}}
                    {{> formMessage text=infoMessage}}
                {{/if}}
            </form>
        </div>
    </div>
</template>

<template name="inQueueHeader">
    <div class="header">
        <a href="/" class="digitalleksehjelp-logo">Digital leksehjelp</a>
        <a href="https://www.rodekors.no/">
            <img class="rodekors-logo" src="/NRX_pos_FARGET bakgrunn.png">
        </a>
    </div>
</template>
