<template name="inQueue">
    <div class="inQueue">
        <div class="left">
            <img class="illustration" src="/queue_illustration.svg">
            <div class="timeInQueue"><div>{{timeInQueue}}</div></div>
        </div>
        <div class="right">
            <div class="description">Du er nå satt i kø!</div>
            <form class="extra-info-form">
                <p>
                    Skriv gjerne litt om hva du lurer på, så blir det lettere for den frivillige å hjelpe deg.
                </p>
                <textarea class="form-control dl-inputfield" name="question" placeholder="Skriv her..." rows="4" autofocus>{{text}}</textarea>
                <div class="buttons">
                    <button type="button" class="cancel">Forlat køen</button>
                    <button type="submit" class="save" disabled="{{#unless hasChanged}}true{{/unless}}">Lagre</button>
                </div>
            </form>
        </div>
    </div>
</template>
