<template name="inQueue">
    <div class="inQueue">
        {{#if readyToStart}}
            <div class="ready">
                Du er nå fremme i køen
                {{> button type='link' text=theText href=videoLink target=target}}
            </div>
        {{else}}
            <div class="left">
                {{> inQueueHeader}}
                <img class="illustration" src="/queue_illustration.svg">
                <div class="timeInQueue"><div>{{timeInQueue}}</div></div>
            </div>
            <div class="right">
                {{> inQueueHeader}}
                <div class="description">Du står nå i kø for <span class="subject">{{subject}}</span></div>
                <form class="extra-info-form">
                    <p>Mens du venter kan du begynne å forklare kort hva det er du ønsker hjelp til. Bruk egne ord.</p>
                    <div class="dropdowns">
                        {{> topicsInput value=topics addTopic=addTopic removeTopic=removeTopic subject=subject}}
                        {{> select placeholder='Velg trinn' value=grade options=grades onChange=setGrade}}
                    </div>
                    <textarea class="form-control dl-inputfield" name="question" placeholder="Skriv her..." rows="4" autofocus>{{text}}</textarea>
                    <div class="buttons">
                        {{> button type='button' text='Forlat' subtle=true danger=true onClick=leaveQueue}}
                        {{> button type='submit' text='Oppdater' disabled=updateButtonDisabled}}
                    </div>
                    {{#if infoMessage}}
                        {{> formMessage text=infoMessage}}
                    {{/if}}
                </form>
            </div>
        {{/if}}
    </div>
</template>

<template name="inQueueHeader">
    <div class="header">
        <a href="/" class="digitalleksehjelp-logo">Digital leksehjelp</a>
        <a href="https://www.rodekors.no/">
            <img class="rodekors-logo" src="/NRX_pos_FARGET bakgrunn.png">
        </a>
    </div>
</template>
